files:
  "/etc/filebeat/filebeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      filebeat.inputs:
      - type: log
        enabled: true
        paths:
          - /var/log/*.log
      cloud.id: "bootcamp2:dXMtZWFzdC0xLmF3cy5mb3VuZC5pbyQ2N2RlZmU4NzMxNTI0ZjY2YTcxNWJkODQ2ZWM1ZmIwOCRlOThjNWNlYzQyYzM0NTk5YTI3N2IxMWY1OGViNjg5MQ=="
      cloud.auth: "elastic:FCzvIcund1VmFeq02F8xfE4l"
      

commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-7.1.1-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "sudo rpm -ivh --replacepkgs filebeat-7.1.1-x86_64.rpm"
    cwd: /home/ec2-user
  3_command:
    command: "/etc/init.d/filebeat start"